<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../api-model-create/api-model-create.html">
<link rel="import" href="../app-login/app-login.html">
<dom-module id="app-signup">
  <template>

    <api-model-create id="create"
      path="{{path}}"
      data="{{credentials}}"
      on-response="on_create"
      on-error="on_create_error">
    </api-model-create>

    <app-login id="login"
      path="{{path}}"
      credentials="{{credentials}}"
      response="{{user}}"
      on-login="on_login"
      on-error="on_login_error">
    </app-login>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'app-signup',

    properties: {
      path: {
        type: String,
        value: 'Users'
      },
      credentials: {
        type: Object
      },
      user: {
        type: Object,
        notify: true
      },
      error: {
        type: Object,
        notify: true
      }
    },

    signup: function () {
      this.$.create.send();
    },

    on_create: function (event) {
      event.stopPropagation();
      this.$.login.send();
    },

    on_login: function (event) {
      event.stopPropagation();
      this.fire('signup', this.user);
    },

    on_create_error: function (event) {
      console.warn(event);
      this.fire('error', event);
    },

    on_login_error: function (event) {
      console.warn(event);
      this.fire('error', event);
    }

  });
</script>