<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../app-session/app-session.html">
<link rel="import" href="../api-model-get/api-model-get.html">
<dom-module id="app-user">
  <template>

    <app-session id="session"></app-session>

    <api-model-get id="request"
      collection="{{collection}}"
      model_id="{{user.id}}"
      access_token="{{access_token}}"
      response="{{response}}"
      error="{{error}}">
    </api-user-login>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'app-user',

    properties: {
      collection: {
        type: String,
        value: 'Users'
      },
      access_token: {
        type: String
      },
      user: {
        type: Object,
        notify: true
      },
      response: {
        type: Object,
        notify: true
      },
      error: {
        type: Object,
        notify: true
      }
    },

    exists: function () {
      return this.$.session.has('user');
    },

    get: function () {
      this.$.session.get('user');
    }

  });
</script>