<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<dom-module id="api-s3-upload">
  <template>

    <iron-ajax id="request" method="GET"
      url="/api/Images/signed_put" params="{{params}}"
      last-response="{{response}}" on-response="on_response">
    </iron-ajax>

    <iron-ajax id="s3_request" method="PUT" url="{{response.signed_url}}"
      last-response="{{s3_response}}" on-response="on_s3_response">
    </iron-ajax>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'api-s3-upload',

    properties: {
      file: {
        type: Object,
        observer: 'on_file'
      },
      folder: {
        type: String,
        value: ''
      },
      fileName: {
        type: String
      },
      params: {
        type: Object,
        value: function () { return {}; }
      },
      response: {
        type: Object
      },
      s3_response: {
        type: Object
      },
      lastResponse: {
        type: Object,
        notify: true
      }
    },

    on_file: function () {
      if (!this.file) {
        return;
      }
      var file_name = this.folder + this.fileName;
      this.params.file_name = file_name;
      this.params.file_type = this.file.type;
      this.$.request.generateRequest();
    },

    on_response: function (event) {
      this.$.s3_request.body = this.file;
      this.$.s3_request.generateRequest();
    },

    on_s3_response: function (event) {
      this.lastResponse = this.s3_response;
      this.fire('upload', this.s3_response);
    }

  });
</script>