<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<dom-module id="api-model-create">
  <template>

    <iron-ajax id="ajax"
      auto="[[auto]]"
      method="[[method]]"
      content-type="[[contentType]]"
      handleAs="[[handleAs]]"
      url="{{url}}"
      params="{{params}}"
      headers="{{headers}}"
      body="{{body}}"
      last-response="{{model}}"
      last-error="{{error}}">
    </iron-ajax>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'api-model-create',

    properties: {
      auto: {
        type: Boolean,
        value: false
      },
      method: {
        type: String,
        value: 'POST'
      },
      contentType: {
        type: String,
        value: 'application/json'
      },
      collection: {
        type: String
      },
      url: {
        type: String
      },
      params: {
        type: Object,
        value: function () { return {}; }
      },
      data: {
        type: Object,
        value: function () { return {}; }
      },
      body: {
        type: String
      },
      model: {
        type: Object,
        notify: true
      },
      error: {
        type: Object,
        notify: true
      }
    },

    _compute_url: function () {
      var url;
      if (this.collection) {
        url = '/api/' + this.collection;
        url = url.replace(/\/\/+/, '/');
        this.url = url;
      }
    },

    _compute_headers: function () {
      if (this.access_token) {
        this.headers.Authorization = this.access_token;
      }
    },

    _compute_body: function (event) {
      this.body = JSON.stringify(this.data);
    },

    send: function () {
      this._compute_url();
      this._compute_headers();
      this._compute_body();
      this.$.ajax.generateRequest();
    }

  });
</script>