*.csv
*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
*.tgz
*.xml
.DS_Store
.env
.idea
.project
.strong-pm
coverage
node_modules
npm-debug.log
public/build
public/components
public/icons
public/fonts
server/public
server/images
server/storage