<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<dom-module id="app-lang">
  <template>

    <iron-ajax id="request" method="GET"
      handleAs="json" last-response="{{texts}}"
      on-response="on_response">
    </iron-ajax>

  </template>
</dom-module>
<script>
(function () {

  var current_lang;

  Polymer({

    is: 'app-lang',

    loaded: false,

    properties: {
      lang: {
        type: String,
        observer: 'update'
      },
      path: {
        type: String,
        value: '/texts/'
      },
      extension: {
        type: String,
        value: '.json'
      },
      texts: {
        type: Object,
        notify: true
      },
      cache: {
        type: Object,
        value: {}
      }
    },

    ready: function () {
      if (current_lang) {
        this.update(current_lang)
      }
    },

    update: function (lang) {
      current_lang = lang;
      if (this.cache[lang]) {
        this.texts = this.cache[lang];
        this.on_response();
        return;
      }
      this.$.request.url = this.path + this.lang + this.extension;
      this.$.request.generateRequest();
    },

    on_response: function () {
      this.cache[this.lang] = this.texts;
      this.fire('iron-signal', { name: 'texts', data: this.texts });
    }

  });

})();
</script>