<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../oauth-v2/oauth-v2.html">
<dom-module id="oauth-connect-facebook">
  <style>
    :host {
      display: none;
    }
  </style>
  <template>

    <oauth-v2 id="popup"
      name="facebook"
      exchange_url="{{exchange_url}}"
      endpoint="{{endpoint}}"
      redirect_uri="{{redirect_uri}}"
      scope="{{scope}}"
      scope-prefix="openid"
      scope-delimiter=","
      url-params="{{urlParams}}"
      display="{{display}}"
      type="2.0"
      popup-width="{{popupWidth}}"
      popup-height="{{popupHeight}}"
      client_id="{{client_id}}">
    </oauth-v2>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'oauth-connect-facebook',

    properties: {
      exchange_url: {
        type: String,
        value: '/auth/facebook'
      },
      endpoint: {
        type: String,
        value: 'https://www.facebook.com/dialog/oauth'
      },
      redirect_uri: {
        type: String,
        value: function () {
          return window.location.origin || window.location.protocol + '//' + window.location.host;
        }
      },
      scope: {
        type: Array,
        value: ["email"]
      },
      display: {
        type: String,
        value: 'popup'
      },
      urlParams: {
        type: Array,
        value: ["scope", "display"]
      },
      popupWidth: {
        type: Number,
        value: 580
      },
      popupHeight: {
        type: Number,
        value: 400
      },
      client_id: {
        type: String
      }
    },

    connect: function () {
      this.$.popup.open();
    }

  });
</script>
