<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../oauth-popup/oauth-popup.html">
<dom-module id="oauth-v1">
  <style>
    :host {
      display: none;
    }
  </style>
  <template>

    <oauth-popup id="popup"
      width="{{popupWidth}}" height="{{popupHeight}}"
      url="{{url}}" response="{{response}}">
    </oauth-popup>

    <iron-ajax id="exchange" method="GET" url="{{exchange_url}}" params="{{query}}"
      handle-as="json" last-response="{{token}}">
    </iron-ajax>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'oauth-v1',

    properties: {
      name: {
        type: String
      },
      display: {
        type: String,
        value: 'popup'
      },
      endpoint: {
        type: String
      },
      url: {
        type: String
      },
      redirect_uri: {
        type: String
      },
      popupWidth: {
        type: Number
      },
      popupHeight: {
        type: Number
      },
      response: {
        type: Object,
        notify: true,
        observer: 'on_response'
      },
      exchange_url: {
        type: String
      },
      query: {
        type: Object
      },
      token: {
        type: Object,
        observer: 'on_token'
      }
    },

    open: function () {
      this.url = this.endpoint;
      this.$.popup.open();
    },

    on_response: function (response) {
      this._exchange();
    },

    _exchange: function () {
      this.query = this.response;
      this.$.exchange.generateRequest();
    },

    on_token: function () {
      console.log(this.token);
    }

  });
</script>