<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../api-model-count/api-model-count.html">
<link rel="import" href="../api-model-create/api-model-create.html">
<link rel="import" href="../api-model-delete/api-model-delete.html">
<link rel="import" href="../api-model-exists/api-model-exists.html">
<link rel="import" href="../api-model-find/api-model-find.html">
<link rel="import" href="../api-model-get/api-model-get.html">
<link rel="import" href="../api-model-update/api-model-update.html">