<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<dom-module id="api-user-login">
  <template>

    <iron-ajax id="login"
      auto="[[auto]]"
      method="[[method]]"
      content-type="{{contentType}}"
      handle-as="[[handleAs]]"
      url="{{url}}"
      params="{{params}}"
      headers="{{headers}}"
      body="{{body}}"
      last-response="{{response}}"
      last-error="{{error}}">
    </iron-ajax>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'api-user-login',

    properties: {
      auto: {
        type: Boolean,
        value: false
      },
      method: {
        type: String,
        value: 'POST'
      },
      contentType: {
        type: String,
        value: 'application/json'
      },
      collection: {
        type: String,
        value: 'Users'
      },
      url: {
        type: String
      },
      include: {
        type: Array,
        value: ['user']
      },
      params: {
        type: Object,
        value: function () { return {}; }
      },
      headers: {
        type: Object,
        value: function () { return {}; }
      },
      handleAs: {
        type: String,
        value: 'json'
      },
      credentials: {
        type: Object,
        value: function () { return {}; }
      },
      response: {
        type: Object,
        notify: true
      },
      error: {
        type: Object,
        notify: true
      }
    },

    _compute_url: function () {
      var url = '/api/' + this.collection + '/login';
      url = url.replace(/\/\/+/, '/');
      this.url = url;
    },

    _compute_params: function () {
      this.params = { include: this.include };
    },

    _compute_body: function () {
      this.body = JSON.stringify(this.credentials);
    },

    send: function () {
      this._compute_url();
      this._compute_params();
      this._compute_body();
      this.$.login.generateRequest();
    }

  });
</script>
