<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<dom-module id="api-model-get">
  <template>

    <iron-ajax id="ajax"
      auto="[[auto]]"
      method="[[method]]"
      url="{{url}}"
      handleAs="[[handleAs]]"
      last-response="{{response}}"
      last-error="{{error}}">
    </iron-ajax>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'api-model-get',

    properties: {
      collection: {
        type: String
      },
      model_id: {
        type: String
      },
      url: {
        type: String
      },
      access_token: {
        type: String
      },
      include: {
        type: Array
      },
      auto: {
        type: Boolean,
        value: false
      },
      method: {
        type: String,
        value: 'GET'
      },
      handleAs: {
        type: String,
        value: 'json'
      },
      params: {
        type: Object,
        value: function () { return {}; }
      },
      headers: {
        type: Object,
        value: function () { return {}; }
      },
      response: {
        type: Object,
        notify: true
      },
      error: {
        type: Object,
        notify: true
      }
    },

    _compute_url: function () {
      var url;
      if (this.collection && this.model_id) {
        url = '/api/' + this.collection + '/' + this.model_id;
        url = url.replace(/\/\/+/, '/');
        this.url = url;
      }
    },

    _compute_headers: function () {
      if (this.access_token) {
        this.headers.Authorization = this.access_token;
      }
    },

    _compute_params: function () {
      if (this.include) {
        this.params.filter = JSON.stringify({ include: this.include });
      }
    },

    send: function () {
      this._compute_url();
      this._compute_headers();
      this._compute_params();
      this.$.ajax.generateRequest();
    }

  });
</script>
