<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<link rel="import" href="../oauth-popup/oauth-popup.html">
<link rel="import" href="../oauth-session/oauth-session.html">
<dom-module id="oauth-v2">
  <style>
    :host {
      display: none;
    }
  </style>
  <template>

    <oauth-popup id="popup"
      width="{{popupWidth}}" height="{{popupHeight}}"
      url="{{url}}" response="{{response}}">
    </oauth-popup>

    <iron-ajax id="exchange" method="POST" url="{{exchange_url}}"
      content-type="application/json" body="{{exchange_body}}"
      handle-as="json" last-response="{{exchange_response}}">
    </iron-ajax>

    <oauth-session id="session" token="{{token}}"></oauth-session>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'oauth-v2',

    properties: {
      name: {
        type: String
      },
      state: {
        type: String
      },
      scope: {
        type: Array
      },
      scopeDelimiter: {
        type: String
      },
      scopePrefix: {
        type: String
      },
      display: {
        type: String,
        value: 'popup'
      },
      endpoint: {
        type: String
      },
      urlParams: {
        type: Array
      },
      defaultUrlParams: {
        type: Array,
        value: ['response_type', 'client_id', 'redirect_uri']
      },
      querystring: {
        type: String
      },
      url: {
        type: String
      },
      response_type: {
        type: String,
        value: 'code'
      },
      client_id: {
        type: String
      },
      redirect_uri: {
        type: String
      },
      popupWidth: {
        type: Number
      },
      popupHeight: {
        type: Number
      },
      response: {
        type: Object,
        notify: true,
        observer: 'on_response'
      },
      exchange_url: {
        type: String
      },
      exchange_body: {
        type: String
      },
      exchange_response: {
        type: Object,
        observer: 'on_exchange_response'
      },
      token: {
        type: Object
      }
    },

    open: function () {
      this._set_state();
      this.querystring = this._compute_querystring();
      this.url = this._compute_url();
      this.$.popup.open();
    },

    _get_state: function () {
      var state_name = this.name + '_state';
      window.localStorage.getItem(state_name);
    },

    _set_state: function () {
      var state_name = this.name + '_state';
      window.localStorage.setItem(state_name, this.state)
    },

    _compute_querystring: function () {
      var querystring = '';
      var scope = this;
      var value;
      var pairs = [];

      scope.defaultUrlParams.forEach(function (param) {
        value = scope[param];
        pairs.push(param + '=' + value);
      });

      scope.urlParams.forEach(function (param) {
        value = scope[param];

        if (param === 'state') {
          param = scope.name + '_state';
          value = window.localStorage.getItem(param);
        }

        if (param === 'scope') {
          if (scope.scopePrefix) {
            value.unshift(scope.scopePrefix);
          }
          value = value.join(scope.scopeDelimiter);
        }

        pairs.push(param + '=' + value);
      });

      querystring = pairs.join('&');
      return querystring;
    },

    _compute_url: function () {
      var url = this.endpoint + '?' + this.querystring;
      return url;
    },

    on_response: function (response) {
      this._exchange();
    },

    _exchange: function () {
      if (this.response_type === 'token') {
        this.token = this.response;
        return;
      }

      var state = this._get_state();
      if (this.response.state && this.response.state !== state) {
        throw new Error('OAuth 2.0 state parameter mismatch.');
      }

      this.exchange_body = this._compute_exchange_body();

      this.$.exchange.generateRequest();
    },

    _compute_exchange_body: function () {
      var body = {};
      var response = this.response;
      var responseParams = this.responseParams;
      var key;

      body.client_id = this.client_id;
      body.redirect_uri = this.redirect_uri;
      body.code = response.code;

      if (response.state) {
        body.state = response.state;
      }

      for (key in responseParams) {
        body[key] = response[key];
      }

      body = JSON.stringify(body);

      return body;
    },

    on_exchange_response: function () {
      this.$.session.set_token(this.exchange_response);
    }

  });
</script>