<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<dom-module id="api-model-exists">
  <template>

    <iron-ajax id="ajax"
      auto="{{auto}}"
      method="[[method]]"
      url="{{url}}"
      params="{{params}}"
      headers="{{headers}}"
      last-response="{{wrapped_response}}"
      last-error="{{error}}"
      on-response="on_response">
    </iron-ajax>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'api-model-exists',

    properties: {
      auto: {
        type: Boolean,
        value: false
      },
      method: {
        type: String,
        value: 'HEAD'
      },
      collection: {
        type: String
      },
      model_id: {
        type: String
      },
      url: {
        type: String
      },
      headers: {
        type: Object,
        value: function () { return {}; }
      },
      token: {
        type: String
      },
      wrapped_response: {
        type: Object
      },
      response: {
        type: Object,
        notify: true
      },
      error: {
        type: Object,
        notify: true
      }
    },

    _compute_url: function () {
      var url;
      if (this.collection && this.model_id) {
        url = '/api/' + this.collection + '/' + this.model_id;
        url = url.replace(/\/\/+/, '/');
        this.url = url;
      }
    },

    _compute_headers: function () {
      if (this.access_token) {
        this.headers.Authorization = this.access_token;
      }
    },

    send: function () {
      this._compute_url();
      this._compute_headers();
      this.$.ajax.generateRequest();
    },

    on_response: function () {
      this.response = this.wrapped_response.exists;
    }

  });
</script>