<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../app-lang/app-lang.html">
<dom-module id="select-lang">
  <style>
    :host {
      display: block;
    }
  </style>
  <template>

    <app-lang id="lang" lang="{{lang}}"></app-lang>

    <select id="select" on-change="on_change">
      <template is="dom-repeat" items="{{languages}}">
        <option name="{{item}}" value="{{item}}">{{item}}</option>
      </template>
    </select>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'select-lang',

    properties: {
      lang: {
        type: String
      },
      languages: {
        type: Array,
        value: ['en', 'it']
      }
    },

    on_change: function (event) {
      this.lang = event.target.value;
    }

  });
</script>