<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<dom-module id="api-user-logout">
  <template>

    <iron-ajax id="ajax"
      method="[[method]]"
      url="{{url}}"
      handleAs="[[handleAs]]"
      headers="{{headers}}"
      last-response="{{response}}"
      last-error="{{error}}">
    </iron-ajax>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'api-user-logout',

    properties: {
      method: {
        type: String,
        value: 'POST'
      },
      collection: {
        type: String,
        value: 'Users'
      },
      handleAs: {
        type: String,
        value: 'json'
      },
      token: {
        type: String,
      },
      headers: {
        type: Object,
        value: function () { return {}; }
      },
      response: {
        type: Object,
        notify: true
      },
      error: {
        type: Object,
        notify: true
      }
    },

    _compute_url: function () {
      var url = '/api/' + this.collection + '/logout'
      url = url.replace(/\/\/+/, '/');
      this.url = url;
    }

    _compute_headers: function () {
      if (this.access_token) {
        this.headers.Authorization = this.access_token;
      }
    },

    send: function () {
      this._compute_url();
      this._compute_headers();
      this.$.ajax.generateRequest();
    }

  });
</script>