<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../app-session/app-session.html">
<link rel="import" href="../api-user-login/api-user-login.html">
<dom-module id="app-login">
  <template>

    <app-session id="session"></app-session>

    <api-user-login id="request"
      collection="{{collection}}"
      response="{{response}}"
      on-response="on_login"
      on-error="on_error">
    </api-user-login>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'app-login',

    properties: {
      collection: {
        type: String,
        value: 'Users'
      },
      url: {
        type: String
      },
      access_token: {
        type: String,
        notify: true
      },
      user: {
        type: Object,
        notify: true
      },
      response: {
        type: Object
      },
      error: {
        type: Object,
        notify: true
      }
    },

    login: function () {
      this.$.request.send();
    },

    on_login: function (event) {
      event.stopPropagation();

      var response = this.response;
      this.access_token = response.id;
      this.user = response.user;

      var session = this.$.session;
      session.set('access_token', this.access_token);
      session.set('user', this.user);

      this.fire('login', this.user);
    },

    on_error: function (event) {
      console.warn(event);
    }

  });
</script>