<link rel="import" href="../polymer/polymer.html">
<dom-module id="app-routes">
  <style>
    :host {
      display: none;
    }
  </style>
  <template>

    <div id="routes" on-route="on_route">
      <content></content>
    </div>

  </template>
</dom-module>
<script src="../page/page.js"></script>
<script>
  Polymer({

    is: 'app-routes',

    attached: function () {
      this.async(function () {
        page();
      });
    },

    on_link: function (event) {
      page.show(event.detail);
    },

    on_route: function (event, detail) {
      var page_name = detail.page_name;
      this.open_page(page_name, detail);
    },

    open_page: function (page_name, route) {
      var element = document.createElement(page_name);
      element.route = route;
      this.fire('iron-signal', { name: 'page', data: element });
    }

  });
</script>