<link rel="import" href="../oauth-connect-google/oauth-connect-google.html">
<link rel="import" href="../oauth-session/oauth-session.html">
<dom-module id="button-connect-google">
  <style>
    :host {
      display: inline-block;
    }
  </style>
  <template>

    <oauth-session id="session" is-authenticated="{{isAuthenticated}}"></oauth-session>

    <oauth-service-google id="service" client_id="{{client_id}}"></oauth-service-google>

    <button id="button" disabled$="{{isAuthenticated}}" on-click="connect">connect with Google</button>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'button-connect-google',

    properties: {
      isAuthenticated: {
        type: Boolean
      },
      client_id: {
        type: String
      }
    },

    connect: function () {
      this.$.service.connect();
    }

  });
</script>
