<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../iron-ajax/iron-ajax.html">
<dom-module id="api-model-count">
  <template>

    <iron-ajax id="ajax"
      auto="[[auto]]"
      method="[[method]]"
      url="{{url}}"
      handleAs="[[handleAs]]"
      last-response="{{wrapped_response}}"
      last-error="{{error}}"
      on-response="on_response">
    </iron-ajax>

  </template>
</dom-module>
<script>
  Polymer({

    is: 'api-model-count',

    properties: {
      auto: {
        type: Boolean,
        value: false
      },
      method: {
        type: String,
        value: 'GET'
      },
      collection: {
        type: String
      },
      url: {
        type: String
      },
      params: {
        type: Object,
        value: function () { return {}; }
      },
      headers: {
        type: Object,
        value: function () { return {}; }
      },
      handleAs: {
        type: String,
        value: 'json'
      },
      access_token: {
        type: String
      },
      where: {
        type: Object
      },
      wrapped_response: {
        type: Object
      },
      response: {
        type: Number,
        notify: true
      },
      error: {
        type: Object,
        notify: true
      }
    },

    _compute_url: function () {
      var url;
      if (this.collection) {
        url = '/api/' + this.collection;
        url = url.replace(/\/\/+/, '/');
        this.url = url;
      }
    },

    _compute_headers: function () {
      if (this.access_token) {
        this.headers.Authorization = this.access_token;
      }
    },

    _compute_params: function () {
      if (this.where) {
        this.params.where = JSON.stringify(this.where);
      }
    },

    send: function () {
      this._compute_url();
      this._compute_headers();
      this._compute_params();
      this.$.ajax.generateRequest();
    },

    on_response: function () {
      this.response = this.wrapped_response.count;
    }

  });
</script>